[package]
name = "zzz"
version = "0.1.0"
authors = ["Joel HoÌˆner <athre0z@zyantific.com>"]
edition = "2018"

[features]
default = ["streams"]
streams = ["futures-core"]

[dependencies]
term_size = "0.3"
futures-core = { version = "0.3", optional = true }
rayon = { version = "1.4", optional = true }

[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
futures = "0.3"
